body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    /* border: 2px solid red; */
    display: flex;
}

.card {
    width: 40%;
    height: auto;
    border-radius: 10px;
    margin: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: #0b5551 1px solid;


}

.card>img {
    width: 100%;
    height: 100%;
    border-radius: 8px;
}

.product {
    width: 40%;
    height: 100%;
    /* border: 2px solid black; */
    border-radius: 10px;
    padding-left: 20px;
    background-color: #77d8d3;

}

.product-head h2 {
    text-transform: uppercase;
    font-size: 22px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.product-head p {
    text-transform: uppercase;
    font-size: 12px;
    color: #241414;
    margin-bottom: 20px;
}

.product-body p {
    font-size: 14px;
    color: #a42525;
    text-transform: uppercase;
    font-weight: bold;
}

.product-body ul {
    list-style: none;
    padding-left: 0;
}

.product-body ul li {
    margin-bottom: 6px;
    padding-left: 15px;
    position: relative;
    color: #0c0808;
    font-size: 14px;
}

.product-body ul li::before {
    content: "•";
    position: absolute;
    left: 0;
    color: #0b5551;
}

.product-detail {
    margin-bottom: 0px;
}

.product-detail p:first-child {
    color: #f5a623;
    font-size: 18px;
}

.product-detail p:last-child {
    font-size: 20px;
    font-weight: bold;
    color: #333;
}

.product-footer {
    display: flex;
    gap: 10px;
}

.btn1,
.btn2 {
    padding: 12px 20px;
    font-size: 14px;
    border: none;
    border-radius: 5px;
    margin: 10px 0;
}

.btn1 {
    background-color: #2dbcb5;
    color: white;
}

.btn2 {
    background-color: #f1f1f1;
    color: #333;
}