body {
    background-color: lightblue;
    height: 100vh;  /* viewport height */
    
}

h1 {
    color: blue;
    text-align: center;

}

h2 {
    color: green;
    text-align: left;

}

p {
    color: red;
    text-align: right;
1
}

#id-apple {
    color: darkred;
    text-align: center;

}

#id-mango {
    color: yellow;
    text-align: center;

}

#id-blue {
    color: darkblue;
    text-align: center;

}

.class-tomato {
    color: tomato;
    text-align: center;

}

.class-carrot {
    color: orange;
    text-align: center;

}

.class-cucumber {
    color: green;
    text-align: center;

}
