.container{
    background-color: bisque;
    border: 1px solid black;
    width: 80%;
    height: 400px;
}
.item{
    background-color: aqua;
    border: 1px solid black;
    width: 75%;
    height: 250px;
}
.box{
    background-color: blueviolet;
    border: 1px solid black;
    width: 50%;
    height: 150px;
}